*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.top-nav{
  border: 1px solid black;
  display: none;
  background: #462066;

  ul{
    li{
      list-style: none;
      height: 40px;
      width:100%;
      color: #FCF4D9;
      border: 1px solid black;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      a:link{
        color: blue;
        text-decoration: none;

      }
    }
  }
}
.menu-icon{
  font-size: 45px;
  color: #462066;
  margin: 15px;
}
.active{
  display: block;
}

.banner-text{

}


.col-12{
  @include dimension(100%,auto);
  border: 10px double #8ED2C9,
}
